@use 'sass:list';
@use 'sass:math';

$darkTeal: #155F60;
$purple: #4B36D6;
$darkGrey: #333333;
$lightGrey: #C5C5C5;
$darkOrange: #9D3801;
$brown: #874703;

$palette: $darkTeal, $purple, $darkOrange, $brown;
$primary: list.nth($palette, random($limit: 4));
$secondary: list.nth($palette, random($limit: 4));

html {
  color: $darkGrey;
  font-family: monospace;
}

h1, h2, h3, h4 {
  font-family: monospace;
  color: $primary;
}

@media (max-width: 800px){
  p {
    width: 100%;
  } 
}

@media (min-width: 800px) {
  p {
    width: 800px;
  } 
}

a {
  color: $primary;
  text-decoration: none;
  overflow: hidden;
  &:visited {
    text-decoration: none;
    color: $primary;
  }
  &:hover {
    color: $secondary;
  }
}

.global-wrapper {
  display: grid;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  grid-template-rows: [row1-start] 10px [row1-end row2-start] 120px [row2-end row3-start] auto [row3-end] 70px [last-row];

  &:before {
    content: '';
    width: 100vw;
    height: 10px;
    display: inline-block;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#155f60+0,155f60+25,4b36d6+25,4b36d6+50,9d3801+50,874703+75,9d3801+75,874703+100 */
    background: $darkTeal; /* Old browsers */
    background: -moz-linear-gradient(left,  $darkTeal 0%, $darkTeal 25%, $purple 25%, $purple 50%, $darkOrange 50%, $darkOrange 75%, $brown 75%, $brown 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  $darkTeal 0%,$darkTeal 25%,$purple 25%,$purple 50%,$darkOrange 50%,$darkOrange 75%,$brown 75%,$brown 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  $darkTeal 0%,$darkTeal 25%,$purple 25%,$purple 50%,$darkOrange 50%,$darkOrange 75%,$brown 75%,$brown 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#155F60', endColorstr='#874703',GradientType=1 ); /* IE6-9 */
  }

  header,
  main,
  footer {
    padding: 1em;
  }

  header {
    nav {
      ul {
        padding-left: 0;
        li {
          list-style: none;
          padding-left: 0;
          margin-left: 0;
          &:not(:first-child) {
            float: left;
            a {
              min-width: 48px;
              height: 48px;
              padding: 0 1em;
              display: inline-flex;
              align-items: center;
              &:hover {
                transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
                background-color: $secondary;
                color: $lightGrey;
              }
            }
          }

          a > h1.author-name {
            font-size: 2.5em;
          }
        }
      }
    }
    .social-links {
      li {
        list-style: none;
        margin-left: 0;
        float: left;
        text-transform: capitalize;
        a {
          height: 48px;
          padding: 0 1em;
          display: inline-flex;
          align-items: center;
          &:hover {
            transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
            background-color: $secondary;
            color: $lightGrey;
          }
        }
      }
    }
  }

  main {
    padding-top: 2em;
    padding-bottom: 2em;

    .bio {
      font-style: italic;
      font-size: 1.5em;
      color: $darkGrey;
      padding-bottom: 1em;
    }

    .article-list {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
    }
    article {
      padding-bottom: 1em;
      
      header {
        padding: 0;
        h2 {
          margin-bottom: 0;
          a:hover {
            transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
            color: $secondary;
          }
        }
      }
    }
  }

  footer {
    ul {
      margin: 0;
      padding: 0;
      li {
        float: left;
        list-style: none;
        a {
          padding-right: 1em;
        }
      }
    }

    .site {
      float: right;
      width: 200px;
      margin-top: 0px;
    }
  }
}